<a href="https://colab.research.google.com/github/yusufbek-murodov/pandas-lessons/blob/main/datetime.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
df = pd.read_csv("https://github.com/anvarnarz/praktikum_datasets/blob/main/global_earthquake.csv?raw=true")
df.head()

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
0,01/02/1965,13:44:18,19.246,145.616,Earthquake,131.6,NaN,NaN,6.0,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860706,ISCGEM,ISCGEM,ISCGEM,Automatic
1,01/04/1965,11:29:49,1.863,127.352,Earthquake,80.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860737,ISCGEM,ISCGEM,ISCGEM,Automatic
2,01/05/1965,18:05:58,-20.579,-173.972,Earthquake,20.0,NaN,NaN,6.2,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860762,ISCGEM,ISCGEM,ISCGEM,Automatic
3,01/08/1965,18:49:43,-59.076,-23.557,Earthquake,15.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860856,ISCGEM,ISCGEM,ISCGEM,Automatic
4,01/09/1965,13:32:50,11.938,126.427,Earthquake,15.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860890,ISCGEM,ISCGEM,ISCGEM,Automatic

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23409 entries, 0 to 23408
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Date                        23409 non-null  object
 1   Time                        23409 non-null  object
 2   Latitude                    23409 non-null  float64
 3   Longitude                   23409 non-null  float64
 4   Type                        23409 non-null  object
 5   Depth                       23409 non-null  float64
 6   Depth Error                 4460 non-null   float64
 7   Depth Seismic Stations      7096 non-null   float64
 8   Magnitude                   23409 non-null  float64
 9   Magnitude Type              23406 non-null  object
 10  Magnitude Error             327 non-null    float64
 11  Magnitude Seismic Stations  2564 non-null   float64
 12  Azimuthal Gap               7298 non-null   float64
 13  Horizontal Distance         1604 non-null   float64
 14  Horizontal Error            1156 non-null   float64
 15  Root Mean Square            17350 non-null  float64
 16  ID                          23409 non-null  object
 17  Source                      23409 non-null  object
 18  Location Source             23409 non-null  object
 19  Magnitude Source            23409 non-null  object
 20  Status                      23409 non-null  object
dtypes: float64(12), object(9)
memory usage: 3.8+ MB

In [4]:
df[['Date', 'Time']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23409 entries, 0 to 23408
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    23409 non-null  object
 1   Time    23409 non-null  object
dtypes: object(2)
memory usage: 365.9+ KB

In [5]:
df[['Date']].head()

         Date
0  01/02/1965
1  01/04/1965
2  01/05/1965
3  01/08/1965
4  01/09/1965

In [6]:
pd.to_datetime(df['Date'], format="%m/%d/%Y")

0       1965-01-02
1       1965-01-04
2       1965-01-05
3       1965-01-08
4       1965-01-09
           ...
23404   2016-12-28
23405   2016-12-28
23406   2016-12-28
23407   2016-12-29
23408   2016-12-30
Name: Date, Length: 23409, dtype: datetime64[ns]

In [7]:
df['datetime'] = pd.to_datetime(df['Date'], format="%m/%d/%Y")
df[['datetime']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23409 entries, 0 to 23408
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  23409 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 183.0 KB

In [11]:
df[['Time']].head()

       Time
0  13:44:18
1  11:29:49
2  18:05:58
3  18:49:43
4  13:32:50

In [20]:
df['Time'] = pd.to_datetime(df['Time'], format='%H:%M:%S').dt.time

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23409 entries, 0 to 23408
Data columns (total 22 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Date                        23409 non-null  object
 1   Time                        23409 non-null  object
 2   Latitude                    23409 non-null  float64
 3   Longitude                   23409 non-null  float64
 4   Type                        23409 non-null  object
 5   Depth                       23409 non-null  float64
 6   Depth Error                 4460 non-null   float64
 7   Depth Seismic Stations      7096 non-null   float64
 8   Magnitude                   23409 non-null  float64
 9   Magnitude Type              23406 non-null  object
 10  Magnitude Error             327 non-null    float64
 11  Magnitude Seismic Stations  2564 non-null   float64
 12  Azimuthal Gap               7298 non-null   float64
 13  Horizontal Distance         1604 non-null   float64
 14  Horizontal Error            1156 non-null   float64
 15  Root Mean Square            17350 non-null  float64
 16  ID                          23409 non-null  object
 17  Source                      23409 non-null  object
 18  Location Source             23409 non-null  object
 19  Magnitude Source            23409 non-null  object
 20  Status                      23409 non-null  object
 21  datetime                    23409 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(12), object(9)
memory usage: 3.9+ MB

In [22]:
df.at[0, 'Time']

datetime.time(13, 44, 18)

In [23]:
df.at[0, 'Time'].hour

13

In [27]:
df.at[0, 'Time'].second

18

In [32]:
df.at[0, 'datetime']

Timestamp('1965-01-02 00:00:00')

In [33]:
df['datetime'].dt.month

0         1
1         1
2         1
3         1
4         1
         ..
23404    12
23405    12
23406    12
23407    12
23408    12
Name: datetime, Length: 23409, dtype: int32

In [34]:
df['Month'] = df['datetime'].dt.month

In [35]:
df['Month'].value_counts()

Month
3     2113
8     2014
12    2001
11    1987
9     1985
4     1970
5     1964
10    1952
1     1891
7     1880
2     1828
6     1824
Name: count, dtype: int64

In [36]:
df['datetime'].dt.weekday.value_counts()

datetime
5    3433
2    3431
4    3362
0    3349
3    3306
6    3284
1    3244
Name: count, dtype: int64