<a href="https://colab.research.google.com/github/yusufbek-murodov/pandas-lessons/blob/main/Guruhlash_df_groupby().ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("https://github.com/anvarnarz/praktikum_datasets/raw/main/automobile_data.csv", index_col=0)
df.head()

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
index,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0

In [12]:
df.groupby('company').horsepower.max()

company
alfa-romero      154
audi             115
bmw              182
chevrolet         70
dodge             68
honda            101
isuzu             78
jaguar           262
mazda            101
mercedes-benz    184
mitsubishi        88
nissan           152
porsche          288
toyota           156
volkswagen       100
volvo            114
Name: horsepower, dtype: int64

In [13]:
df.groupby(['company', 'body-style']).mean()

TypeError: agg function failed [how->mean,dtype->object]

In [17]:
df.groupby('company').agg([len, min, max])

<ipython-input-17-b87eaf688693>:1: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  df.groupby('company').agg([len, min, max])
<ipython-input-17-b87eaf688693>:1: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df.groupby('company').agg([len, min, max])

              body-style                         wheel-base                \
                     len          min        max        len    min    max
company
alfa-romero            3  convertible  hatchback          3   88.6   94.5
audi                   4        sedan      wagon          4   99.4  105.8
bmw                    6        sedan      sedan          6  101.2  110.0
chevrolet              3    hatchback      sedan          3   88.4   94.5
dodge                  2    hatchback  hatchback          2   93.7   93.7
honda                  3        sedan      wagon          3   96.5   96.5
isuzu                  3        sedan      sedan          3   94.3   94.5
jaguar                 3        sedan      sedan          3  102.0  113.0
mazda                  5    hatchback      sedan          5   93.1  104.9
mercedes-benz          4      hardtop      wagon          4  110.0  120.9
mitsubishi             4    hatchback      sedan          4   93.7   96.3
nissan                 5        sedan      wagon          5   94.5  100.4
porsche                3  convertible  hatchback          3   89.5   98.4
toyota                 7    hatchback      wagon          7   95.7  104.5
volkswagen             4        sedan      sedan          4   97.3   97.3
volvo                  2        sedan      wagon          2  104.3  104.3

              length               engine-type  ... num-of-cylinders  \
                 len    min    max         len  ...              max
company                                         ...
alfa-romero        3  168.8  171.2           3  ...              six
audi               4  176.6  192.7           4  ...             four
bmw                6  176.8  197.0           6  ...              six
chevrolet          3  141.1  158.8           3  ...            three
dodge              2  157.3  157.3           2  ...             four
honda              3  157.1  175.4           3  ...             four
isuzu              3  155.9  170.7           3  ...             four
jaguar             3  191.7  199.6           3  ...           twelve
mazda              5  159.1  175.0           5  ...              two
mercedes-benz      4  190.9  208.1           4  ...             five
mitsubishi         4  157.3  172.4           4  ...             four
nissan             5  165.3  184.6           5  ...              six
porsche            3  168.9  175.7           3  ...              six
toyota             7  158.7  187.8           7  ...              six
volkswagen         4  171.7  171.7           4  ...             four
volvo              2  188.8  188.8           2  ...             four

              horsepower           average-mileage         price           \
                     len  min  max             len min max   len      min
company
alfa-romero            3  111  154               3  19  21     3  13495.0
audi                   4  102  115               4  18  24     4  13950.0
bmw                    6  101  182               6  15  23     6  16430.0
chevrolet              3   48   70               3  38  47     3   5151.0
dodge                  2   68   68               2  31  31     2   6229.0
honda                  3   76  101               3  24  30     3   7295.0
isuzu                  3   70   78               3  24  38     3   6785.0
jaguar                 3  176  262               3  13  15     3  32250.0
mazda                  5   68  101               5  17  31     5   5195.0
mercedes-benz          4  123  184               4  14  22     4  25552.0
mitsubishi             4   68   88               4  25  37     4   5389.0
nissan                 5   55  152               5  19  45     5   6649.0
porsche                3  207  288               3  17  17     3  34028.0
toyota                 7   62  156               7  19  35     7   5348.0
volkswagen             4   52  100               4  26  37     4   7775.0
volvo                  2  114  114               2  23  23     2  12940.0


                   max
company
alfa-romero    16500.0
audi           18920.0
bmw            41315.0
chevrolet       6575.0
dodge           6377.0
honda          12945.0
isuzu           6785.0
jaguar         36000.0
mazda          18344.0
mercedes-benz  45400.0
mitsubishi      8189.0
nissan         13499.0
porsche        37028.0
toyota         15750.0
volkswagen      9995.0
volvo          13415.0

[16 rows x 24 columns]

In [22]:
df.groupby('body-style').price.agg([len, min, max, np.mean])

<ipython-input-22-054e310ab442>:1: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  df.groupby('body-style').price.agg([len, min, max, np.mean])
<ipython-input-22-054e310ab442>:1: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df.groupby('body-style').price.agg([len, min, max, np.mean])
<ipython-input-22-054e310ab442>:1: FutureWarning: The provided callable <function mean at 0x7d28cb9a15a0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df.groupby('body-style').price.agg([len, min, max, np.mean])

             len      min      max          mean
body-style
convertible    3  13495.0  37028.0  22341.000000
hardtop        2  34028.0  45400.0  39714.000000
hatchback     15   5151.0  16500.0   7159.571429
sedan         32   6575.0  41315.0  17706.333333
wagon          9   6918.0  28248.0  12730.111111

In [23]:
df.head()

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
index,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0

NameError: name 'pd' is not defined