<a href="https://colab.research.google.com/github/yusufbek-murodov/mohirdev_data_science_course/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Series ma'lumotlar tuzilmasi

In [3]:
import pandas as pd
import numpy as np # kutubxonalrni yuklash

In [4]:
from pandas import Series
# Pandasda ikkita ma'lumotlas tuzilmasi mavjud
# birinchisi: Series ma'lumotlar tuzilmasi
# ikkinchisi: DataFrame ma'lumotlar tuzilmasi

In [5]:
obj = Series([4, 5, 6, -6.5]) # Series orqali object yaratamiz

In [6]:
type(obj) # objectni type ni ko'rish

pandas.core.series.Series

In [9]:
print(obj) # objectni chop etamiz

0    4.0
1    5.0
2    6.0
3   -6.5
dtype: float64

In [10]:
obj.values # objni qiymatlarini ko'ramiz

array([ 4. ,  5. ,  6. , -6.5])

In [11]:
obj.index # objni indexlarini ko'ramiz

RangeIndex(start=0, stop=4, step=1)

In [13]:
obj[0] # 0-indexdagi ma'lumotni olamiz

4.0

In [14]:
obj2 = Series([6, 3, 2, 1], index=['a', 'b', 'c', 'd']) # Object yasab olamiz va unga o'zimiz index beramiz

In [15]:
obj2

a    6
b    3
c    2
d    1
dtype: int64

In [17]:
obj2['a'] # objni indexi orqali chaqirish

6

In [18]:
obj2[['a', 'b', 'd']]

a    6
b    3
d    1
dtype: int64

In [19]:
obj2[obj2 > 2] # 2 dan katta bo'lgan objectning qiymatlarini chiqaramiz

a    6
b    3
dtype: int64

In [21]:
obj2 * 2 # objni qiymatlarini 2 ga ko'paytiramiz

a    12
b     6
c     4
d     2
dtype: int64

In [22]:
obj2

a    6
b    3
c    2
d    1
dtype: int64

In [23]:
np.exp(obj2)

a    403.428793
b     20.085537
c      7.389056
d      2.718282
dtype: float64