<a href="https://colab.research.google.com/github/yusufbek-murodov/pandas-lessons/blob/main/SQL_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import sqlite3 as sql
from pprint import pprint as print

In [ ]:
url = "https://www.sqlitetutorial.net/wp-content/uploads/2018/03/chinook.zip"

In [ ]:
db = sql.connect('chinook.db')
cursor = db.cursor()

In [ ]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

[]

In [ ]:
cursor.execute("SELECT COUNT (*) FROM genres")
cursor.fetchone()

OperationalError: no such table: genres

In [ ]:
cursor.execute("PRAGMA table_info(customers);")
cursor.fetchall()

[]

In [ ]:
query = "SELECT * FROM CUSTOMERS LIMIT 5"
df = pd.read_sql(query, db, index_col='CustomerId')
df

DatabaseError: Execution failed on sql 'SELECT * FROM CUSTOMERS LIMIT 5': no such table: CUSTOMERS

In [ ]:
query = "SELECT * FROM customers"
df = pd.read_sql(query, db, index_col='CustomerId')
df.sample(5)

In [ ]:
query = "SELECT FirstName, LastName, City, State, Phone, Email FROM customers LIMIT 10"
pd.read_sql(query, db)

NameError: name 'pd' is not defined

In [ ]:
query = "SELECT * FROM customers ORDER BY Country"
df = pd.read_sql(query, db, index_col='CustomerId')
df.head()